/* common */
* {
  font-family: "Noto Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:link,
a:visited {
  color: inherit;
}

input[type="text"] {
  border: none;
  font-weight: 600;
  padding: 0 1rem;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  color: #fff;
  border: none;
}

.button-desktop {
  background-color: #0065fc;
}

.button-mobile {
  display: none !important;
}

figure {
  margin: 0;
}

.blue {
  color: #0065fc;
}

.gray {
  color: #d9d9d9;
}

.stars {
  font-size: small;
}

.price {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

/* navigation */

.navbar,
.navbar__item,
.navbar__item ul {
  display: flex;
}

.navbar {
  justify-content: space-between;
  align-items: center;
}

.navbar__item {
  align-items: center;
}

.navbar .navbar__logo > img {
  height: 30px;
}

.navbar .navbar__item ul {
  justify-content: space-around;
  margin: 0;
  width: 100%;
}

.navbar__item ul li > a:hover {
  text-decoration: none;
}

.navbar .navbar__item ul > li,
.navbar__item > a:last-of-type {
  padding: 2rem 1rem;
  margin: 0 1rem;
  position: relative;
  transition: all 0.2s;
  text-align: center;
}

.navbar__item > a:last-of-type {
  font-weight: 600;
  color: #0065fc;
}

@media only screen and (min-width: 577px) {
  .navbar .navbar__item ul > li:hover {
    color: #0065fc;
  }

  .navbar .navbar__item ul > li:hover::before {
    transition: all 0.2s;
    color: #0065fc;
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    top: 0;
    height: 10px;
    width: 100%;
    border-top: 3px solid #0065fc;
  }
}

/* filter */
.filter__location,
.filter__category,
.filter__category_wrapper,
.filter__category-item,
.filter__location_form form,
.filter__location_form form div,
.info {
  display: flex;
}

.filter__location {
  margin-bottom: 1.5rem;
}

.filter__location_form form > * {
  height: 100%;
}

.filter__location_form input {
  flex: 1;
}

.filter__location_form form {
  border: solid #f2f2f2 1px;
  border-radius: 10px;
  align-items: center;
  height: 2.4rem;
  overflow: hidden;
}

.filter__location_form form div {
  background-color: #f2f2f2;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.filter__location_form button {
  cursor: pointer;
  transition: all 0.2s;
}

.filter__location_form button:hover {
  opacity: 0.8;
}

.filter__category {
  align-items: center;
}

.filter__category span {
  font-weight: 800;
  padding: 0 1rem;
}

.filter__category span::first-letter {
  text-transform: capitalize;
}

.filter__category > span:first-of-type {
  margin-right: 2rem;
  padding: 0;
}

.filter__category-item {
  justify-content: space-between;
  margin: 0 1rem;
  align-items: center;
  border: solid #cfdbec 1px;
  border-radius: 60px;
  background-image: linear-gradient(#0065fc, #0065fc);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.5s, color 0.5s;
  cursor: pointer;
}

.filter__category-item:hover {
  background-size: 100% 100%;
  color: #fff;
}

.filter__category-item > div i {
  padding: 1rem;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  background-color: #deebff;
  position: relative;
  right: 2px;
  transform: scale(1.04);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* lodging */

.info,
.lodging__selection,
.lodging__selection-title,
.lodging__selection-card,
.lodging__selection-text {
  display: flex;
}

.info {
  align-items: baseline;
  margin: 1rem 0;
}

.info > div i {
  padding: 10px;
  border: solid #cfdbec 1px;
  width: 10px;
  height: 10px;
  text-align: center;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.6rem;
}

/* lodging */

.lodging {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
}

.lodging__list,
.lodging__selection {
  background-color: #f2f2f2;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.lodging__list {
  grid-area: 1 / 1 / 2 / 4;
}

.lodging__list-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

.card-detailed,
.card-simple {
  box-shadow: -2px 0px 26px 0px rgba(123, 123, 123, 0.34);
}

.card-detailed {
  background-color: #fff;
  padding: 6px;
  border-radius: 25px;
  max-height: 200px;
  max-width: 300px;
  transition: all 0.2s;
}

.card-detailed:hover,
.card-simple:hover {
  cursor: pointer;
  opacity: 0.8;
}

.card-simple {
  background-color: #fff;
  position: relative;
  border-radius: 20px;
  max-height: 100%;
}

.card-simple img {
  border-radius: 20px;
  width: 100%;
}

.lodging__list-card img {
  height: 115px;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.lodging__list-text {
  padding: 0 1rem;
  font-size: 14px;
  white-space: nowrap;
}

.lodging__list-text div {
  margin: 2px 0;
}

.lodging__selection {
  flex-direction: column;
  grid-area: 1 / 4 / 2 / 6;
}

.lodging__selection-title {
  align-items: center;
  justify-content: space-between;
}

.lodging__selection-card {
  margin-bottom: 1.6rem;
}

.lodging__selection-text {
  flex-direction: column;
  margin: 0.5rem 0.5rem 0 0.5rem;
  font-size: 14px;
}

.lodging__selection-text .stars {
  margin-top: auto;
  white-space: nowrap;
}

.lodging__selection-card img {
  height: 140px;
  object-fit: cover;
  width: 130px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

/*  activites */

.activity {
  margin: 4rem 0;
}

.activity__items,
.activity__items_bloc {
  display: flex;
}

.activity__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}

.activity__items-small div:first-child {
  margin-bottom: 2rem;
}

.activity__items span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  height: 30px;
  padding: 0.5rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-weight: 800;
  font-size: 14px;
  display: flex;
  align-items: center;
}

footer {
  background-color: #f2f2f2;
  display: flex;
  padding: 2rem;
}

.footer__wrapper {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.footer__category {
  white-space: nowrap;
  max-width: 33%;
  width: 100%;
}

.footer__category span:first-of-type {
  margin-bottom: 1rem;
}

.footer__links > li {
  margin: 0.8rem 0;
}

/* only desktop */
@media only screen and (min-width: 577px) {
  .activity__items .activity__items--xl img {
    height: 100%;
    object-fit: cover;
  }

  .activity__items .activity__items--xs img {
    height: 150px;
    object-fit: cover;
  }

  .activity__items .card-simple--s img {
    height: 200px;
    object-fit: cover;
  }

  .activity__items .activity__items--m img {
    height: 170px;
    object-fit: cover;
  }
}

/* mobile + tablet */

@media only screen and (max-width: 1200px) {
  body {
    margin: 0 !important;
  }
  .container {
    padding: 0 12px;
  }

  .filter__location {
    justify-content: center;
  }

  .filter__location_form {
    width: 100%;
  }

  .filter__category {
    flex-direction: column;
    align-items: baseline;
  }

  .filter__category_wrapper {
    flex-wrap: wrap;
    margin-top: 1rem;
  }

  .filter__category-item {
    margin: 6px;
  }

  .lodging {
    display: flex;
    flex-direction: column-reverse;
  }

  .lodging__selection,
  .lodging__list {
    margin: 0 -12px 0 -12px;
  }

  .lodging__selection {
    border-radius: 0;
  }

  .lodging__list {
    background-color: white;
  }

  .lodging__list-text {
    padding: 0 1rem;
    font-size: 12px;
    white-space: nowrap;
  }

  .lodging__selection-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer__wrapper {
    flex-direction: column;
  }

  .footer__category {
    max-width: 100%;
    text-align: center;
  }
}

/* only tablet and small screen  */
@media (min-width: 577px) and (max-width: 1200px) {
  .activity__items {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-row-gap: 30px !important;
  }
  .lodging__list-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-detailed {
    max-width: inherit;
  }

  /*.card-detailed img {
    height: inherit;
  }*/
  .lodging__selection-cards .card-detailed {
    max-width: 46%;
    width: 100%;
  }
}

/* only mobile */
@media only screen and (max-width: 576px) {
  .button-desktop {
    display: none;
  }

  .button-mobile {
    width: 24px !important;
    height: 22px !important;
    display: flex !important;
    background-color: #0065fc !important;
    color: #fff;
    border-radius: 10px;
    padding: 8px;
  }

  .navbar {
    flex-direction: column;
    align-items: baseline;
  }
  .navbar__logo {
    padding: 1rem 0;
    margin: 0 1rem;
  }

  .navbar__item {
    width: 100%;
    justify-content: center;
  }

  .navbar .navbar__item ul > li {
    width: 50%;
    margin: 0;
    padding: 1.4rem;
  }

  .navbar .navbar__item ul > li::after {
    transition: all 0.2s;
    color: #f2f2f2;
    position: absolute;
    content: "";
    right: -12px;
    left: -12px;
    bottom: 0;
    height: 10px;
    width: 115%;
    border-bottom: 3px solid #f2f2f2;
  }

  .navbar .navbar__item ul > li:hover::after {
    border-bottom: 3px solid #0065fc;
    color: #0065fc;
  }

  .navbar .navbar__item ul > li:hover a {
    color: #0065fc;
  }

  .navbar__item > a:last-of-type {
    position: absolute;
    padding: 1rem;
    top: 5px;
    right: 0;
  }

  .lodging__list-cards {
    display: flex;
    flex-direction: column;
  }

  .lodging__selection .card-detailed {
    width: 100%;
  }

  .card-detailed {
    max-width: 100%;
  }

  .activity {
    padding: 1rem 1.2rem;
    margin: 0;
  }

  .activity__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .activity__items div,
  .activity__items-small div {
    margin: 0.6rem 0;
  }

  .activity__items-small {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-simple {
    margin: 0;
    width: 100%;
  }

  .card-simple img {
    height: 165px;
    object-fit: cover;
  }

  .footer__category {
    max-width: 100%;
    text-align: left;
  }
}
